PORT= 3000
MONGODB_URI=mongodb://<db_username>:<db_password>@ac-qdaixw9-shard-00-00.cwmvgc8.mongodb.net:27017,ac-qdaixw9-shard-00-01.cwmvgc8.mongodb.net:27017,ac-qdaixw9-shard-00-02.cwmvgc8.mongodb.net:27017/?ssl=true&replicaSet=atlas-szkzqa-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=jwt_secret
CLIENT_URL=http://localhost:5173
REDIS_URL=redis_url